body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(0deg, #000b77, #2e3aa8, #5560cb, #969cda);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


button{
    margin-left: 45vw;
    font-size:40px; 
}

.person{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 5px solid black;
    text-align: center;
    font-size:40px; 
}
